{% load static %}

<body>
<p style="color: red; font-size: 24">{{errormsg}}</p>
<form action="/signin/createaccount/" method="post">
    {% csrf_token %}
    <label>Username: </label>
    <input name="uname" type="text" maxlength="50" required/>
    <br>
    <label>Password: </label>
    <input name="password" type="password" maxlength="50" required/>
    <br>
    <label>Confirm Password: </label>
    <input name="confirm" type="password" maxlength="50" required/>
    <br>
    <input type="submit" value="Create Account"/> 
</form>
</body>