<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Glonass - Home</title>
</head>
<body>
	<div class="container">
		<h1 class="mb-0">Glonass</h1>
		<p>Star finder</p>
		<hr>
		<div class="row">
			<div class="col-4">
				<div class="card">
					<img width="100px" height="100px" src="https://media.istockphoto.com/vectors/search-magnifying-glass-icon-symbol-vector-id1221635138?k=20&m=1221635138&s=170667a&w=0&h=d2MqIxeYYJC5D_Bo-YB_LIYUwHCNyyo-r0iVI8ya7ak=">
					<div class="card-body">
						<h5 class="card-title">Get star data</h5>
						<p class="card-text">Query databases based on your preferences. Glonass currently only has Hipparcos data in its databases however more can be added later. Multiple databases can be queried at the same time.</p>
						<a href="/" class="btn btn-success">Query data</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img width="100px" height="100px" src="https://www.iconpacks.net/icons/2/free-settings-icon-3110-thumb.png">
					<div class="card-body">
						<h5 class="card-title">Your preferences</h5>
						<p class="card-text">Your preferences are filters on the data queries. Modifying them determines how many coloumns are returned upon querying the data.</p><br>
						<a href="/settings" class="btn btn-primary">Edit preferences</a>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img width="100px" height="100px" src="https://www.iconpacks.net/icons/2/free-location-icon-2955-thumb.png">
					<div class="card-body">
						<h5 class="card-title">Your locations</h5>
						<p class="card-text">Your location is used to determine the how the night sky looks from your perspective and is used for calculations regarding visibility and position in the sky.</p>
						<a href="/locations" class="btn btn-primary">Edit locations</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>